<%= form_with(model: @artist, local: true) do |f| %>
  <% if @artist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@artist.errors.count, "error") %> prohibited this Rave from being saved:</h2>

      <ul>
        <% @artist.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
   <%= f.fields_for :stages do |s| %>

   <%= s.label :number, "Stage Number:" %>
   <%= s.number_field :number, min: "1" %>
   <%= s.hidden_field :rave_id, value: @rave.id %>
   <% end %>
   
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
