
<h1>Raves</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Date</th>
    </tr>
  </thead>

  <tbody>
    <% @raves.each do |r| %>
      <tr>
        <td><%= r.name %></td>
        <td><%= r.price %></td>
        <td><%= r.date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  <h3>Affordable:<h3>
  <% @raves.cheap?.each do |c| %>
  <%= c.name %>
  <%= c.price %>
  <br>
  <% end %>

<br>
<br>
<%= link_to 'Main Page', user_path(@user) %>
