<p id="notice"><%= notice %></p>

<h1>Raves</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @raves.each do |rafe| %>
      <tr>
        <td><%= rafe.name %></td>
        <td><%= rafe.price %></td>
        <td><%= rafe.date %></td>
        <td><%= link_to 'Show', rafe %></td>
        <td><%= link_to 'Edit', edit_rafe_path(rafe) %></td>
        <td><%= link_to 'Destroy', rafe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rafe', new_rafe_path %>
