<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @rave.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @rave.price %>
</p>

<p>
  <strong>Date:</strong>
  <%= @rave.date %>
</p>

<%= link_to 'Main Page', user_path(@user) %>
<%= link_to 'Edit', edit_rafe_path(@rave) %><br>

<%= form_with(model: @rave, method: "delete") do |f| %>
<%= f.hidden_field :id %>
<%= f.hidden_field :user_id, value: @user.id %>
<%= f.submit "Delete" %>
<% end %>
