<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @rave.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @rave.price %>
</p>

<p>
  <strong>Date:</strong>
  <%= @rave.date %>
</p>
<br>
<p>
  <% if @rave.stages.any? %>
  <strong>Artists:</strong>
  <%= link_to @a.name, artist_path(@a) %>
</p>
  <% end %>
<br>
<%= link_to "Add a DJ", new_rafe_artist_path(@rave, @artist) %>
<br>


<%= link_to 'Edit Rave', edit_rafe_path(@rave) %><br>
<%= link_to 'Main Page', user_path(@user) %><br><br>
<%# <%= link_to 'Destroy', @rave, method: :delete %>
