<h1>Edit</h1>
<%= form_with(model: @user, local: true) do |form| %>
<div class="field">
    <%= form.label :name, "Name:" %>
    <%= form.text_field :name %>
</div>
    <%= render 'form', user: @user %>
<div class="actions">
    <%= form.submit "Edit" %>
</div>
<%= link_to "Main Page", user_path %>
<% end %>