<p>Homepage</p>

<% if name = session[:name] %>
  <p>Welcome <%= name -%>! We know who you are thanks to Omniauth!</p>
  <p>You were authenticated by  <%= session[:omniauth_data]['provider'] %></p>

  The raw data returned from Omniauth were:
  <pre>
    <%= session[:omniauth_data] %>
  </pre>
<% else %>
    <p><%= link_to "Sign Up", new_user_path %></p>  
    <p><%= link_to "Login", signin_path %></p>
    <p><%= link_to('Login with Facebook', '/auth/facebook') %></p>
<% end %>
